<!DOCTYPE html>
<html>
<head>
	<link href="/css/main.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{{#if title}}
		<title>{{title}}</title>
	{{else}}
		<title>Local News Application - Genaro Bedenko</title>
	{{/if}}
</head>
<body>
	<header>
		<ul class="upper_navbar">
			<li><a href="/all_posts">Local News and Events Application</a></li>
			<li><a href="/create_article">Create Article</a></li>
			<li><a href="/create_event">Create Event</a></li>
			
			<div id="user_logged_in">
				{{#if user.isAdmin}}
					<li><a href="/admin_dashboard">Admin Dashboard</a></li>
				{{/if}}
			</div>
		</ul>

		<ul class="lower_navbar">
			<li><a class="active" href="/all_posts">Home</a></li>
			<li><a href="/articles">News Articles</a></li>
			<li><a href="/events">Local Events</a></li>
			<li><a href="/articles?sort=highest_rated">Highest Rated Articles</a></li>
			<li><a href="/articles?sort=lowest_rated">Lowest Rated Articles</a></li>
			<li><a href="/events?sort=highest_rated">Highest Rated Events</a></li>
			<li><a href="/events?sort=lowest_rated">Lowest Rated Events</a></li>
		</ul>
	</header>	

	<div class="row">
		<div class="main_content">
			{{{body}}}			
		</div>
		<div class="pinned_content">
			<div class="pinned_articles">
				<h3>Pinned Articles:</h3>
				<ol>					
				{{#each pinnedArticles}}
				<li><a href="/articles/{{this._id}}">{{this.heading}}</a></li>
				{{/each}}
				</ol>
			</div>
			<div class="pinned_events">
				<h3>Pinned Events:</h3>
				<ol>					
				{{#each pinnedEvents}}
				<li><a href="/events/{{this._id}}">{{this.title}}</a></li>
				{{/each}}
				</ol>
			</div>    
    	</div>
	</div>
</body>
</html>
