<h3>Latest Articles created by users:</h3>
<div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Heading</th>
            <th scope="col">User</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each articles}}
        <tr>
            <td>{{this.heading}}</td>
            <td>{{this.user}}</td>
            <td>{{this.status}}</td>
            <td><a href="/articles/make_public/{{this._id}}">Make Public</a></td>
            <td><a href="/articles/make_private/{{this._id}}">Make Private</a></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>

<h3>Latest Events created by users:</h3>
<div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">User</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each events}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.user}}</td>
            <td>{{this.status}}</td>
            <td><a href="/events/make_public/{{this._id}}">Make Public</a></td>
            <td><a href="/events/make_private/{{this._id}}">Make Private</a></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>
