<head>
	<link href="/css/article.css" type="text/css" rel="stylesheet" />
</head>

<div class="article">
    <h1>{{this.article.heading}}</h1>
    <div class="row">
        <div class="articleImage" align="center">
            <img width="500" height="300" src="{{this.article.image}}"/>
        </div>
        <div class="articleContent">
            <p>{{this.article.content}}</p>
        </div>
    </div>  
    <br/>
    <div class="sharingOptions">
        <div class="row">
            <ul>
                <li><a href="/like_article/{{this.article._id}}">Like this post</a><p>{{this.article.likes}} people like this article</p></li>
                <li><a href="/dislike_article/{{this.article._id}}">Dislike this post</a><p>{{this.article.dislikes}} people dislike this article</p></li>
            </ul>
            <ul>
                <li><a href="/like_user/{{this.article.user}}">Like this user</a><p>{{this.user.likes}} people like this user</p></li>
                <li><a href="/dislike_user/{{this.article.user}}">Dislike this user</a><p>{{this.user.dislikes}} people dislike this user</p></li></li>
            </ul>
        </div>
    </div>
</div>