<head>
	<link href="/css/article.css" type="text/css" rel="stylesheet" />
</head>

<div class="article">
    <h1>{{this.article.heading}}</h1>
    <div class="row">
        <div class="articleContent">
            <p>{{this.article.content}}</p>
        </div>
        <div class="articleImage">
            <img>{{this.article.image}}</img>
        </div>
        <div class="articleVideo">
            <video>{{this.article.video}}</video>
        </div>
    </div>  
    <br/>
    <div class="sharingOptions">
        <a href="/rate_article/" + {{this.article._id}}>Rate this post</a>
        <a href="/pin_article">Pin this post (Admins only)</a>
    </div>
</div>