<head>
	<link href="/css/article.css" type="text/css" rel="stylesheet" />
</head>

<div class="article">
    <h1>{{this.article.heading}}</h1>
    <div class="row">
        <div class="articleImage" align="center">
            <img>{{this.article.image}}</img>
        </div>
        <div class="articleContent">
            <p>{{this.article.content}}</p>
        </div>
    </div>  
    <br/>
    <div class="sharingOptions">
        <a href="/rate/{{this.article._id}}">Rate this post</a>
        <a href="/rate/{{this.article.user}}">Rate this user</a>
    </div>
</div>