<head>
	<link href="/css/article.css" type="text/css" rel="stylesheet" />
</head>
<div class="article">
    <h1>{{this.article.heading}}</h1>
    <p>{{this.article.content}}</p>
    <img>{{this.article.image}}</img>
    <video>{{this.article.video}}</video>
    <div class="sharing_options">
        <a href="/rate_article/" + {{this.article._id}}>Rate this post</a>
        <a href="/pin_article">Pin this post (Admins only)</a>
    </div>
</div>