<head>
	<link href="/css/article.css" type="text/css" rel="stylesheet" />
</head>

<div class="article">
    <h1>{{this.article.heading}}</h1>
    <div class="row">
        <div class="articleImage" align="center">
            <img width="500" height="300" src="{{this.article.image}}"/>
        </div>
        <div class="articleContent">
            <p>{{this.article.content}}</p>
        </div>
    </div>  
    <br/>
    <div class="sharingOptions">
        <div class="row">
            <ul>
                <li><a href="/like_article/{{this.article._id}}">Like this post</a><p>{{this.article.likes}} people like this article</p></li>
                <li><a href="/dislike_article/{{this.article._id}}">Dislike this post</a><p>{{this.article.dislikes}} people dislike this article</p></li>
            </ul>
            <ul>
                <li><a href="/users/{{this.article.userID}}">View this article's author</a></li>
            </ul>
        </div>
    </div>

    <div class="commentsList">        
        {{#each this.article.comments}}
        <div class="comment">
            <p>{{this.comment}}</p>
        </div>
        {{/each}}
    </div>
    <div class="commentBox">
        <form action="/article/add_comment/{{this.article._id}}" method="post">
            <textarea name="comment" style="width:600px;height:50px;" placeholder="Add a comment..." ></textarea><br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>