<head>
	<link href="/css/event.css" type="text/css" rel="stylesheet" />
</head>

<div class="event">
    <h1>{{this.event.title}}</h1>
    <h2>{{this.event.date}}</h2>
    <h2>{{this.event.time}}</h2>
    <div class="row">
        <div class="eventContent">
            <p>{{this.event.content}}</p>
        </div>
        <div class="eventImage">
            <img>{{this.event.image}}</img>
        </div>
        <div class="eventVideo">
            <video>{{this.event.video}}</video>
        </div>
    </div>  
    <br/>
    <div class="sharingOptions">
        <a href="/rate_event" + {{this.event._id}}>Rate this post</a>
        <a href="/pin_event">Pin this post (Admins only)</a>
    </div>
</div>