<head>
	<link href="/css/event.css" type="text/css" rel="stylesheet" />
</head>

<div class="event">
    <h1>{{this.event.title}}</h1>
    <h3>Date: {{this.event.date}}</h3>
    <h3>Time: {{this.event.time}}</h3>
    <div class="row">
        <div class="eventImage">
            <img width="500" height="300" src="{{this.event.image}}"/>
        </div>
        <div class="eventContent">
            <p>{{this.event.content}}</p>
        </div>
    </div>  
    <br/>
    <div class="sharingOptions">
        <div class="row">
            <ul>
                <li><a href="/like_event/{{this.event._id}}">Like this post</a><p>{{this.event.likes}} people like this event</p></li>
                <li><a href="/dislike_event/{{this.event._id}}">Dislike this post</a><p>{{this.event.dislikes}} people dislike this event</p></li>
            </ul>
            <ul>
                <li><a href="/users/{{this.event.userID}}">View this event's author</a></li>
            </ul>
        </div>
    </div>

    <div class="commentsList">        
        {{#each this.event.comments}}
        <div>
            <p>A comment...</p>
        </div>
        {{/each}}
    </div>
    <div class="commentBox">
        <form action="/event/add_comment/{{this.event.id}}" method="post">
            <textarea name="comment" style="width:600px;height:50px;" placeholder="Add a comment..." ></textarea><br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>