<head>
	<link href="/css/event.css" type="text/css" rel="stylesheet" />
</head>

<div class="event">
    <h1>{{this.event.title}}</h1>
    <h3>Date: {{this.event.date}}</h3>
    <h3>Time: {{this.event.time}}</h3>
    <div class="row">
        <div class="eventImage">
            <img>{{this.event.image}}</img>
        </div>
        <div class="eventContent">
            <p>{{this.event.content}}</p>
        </div>
    </div>  
    <br/>
    <div class="sharingOptions">
        <a href="/rate/{{this.event._id}}">Rate this post</a>
        <a href="/pin/{{this.event._id}}">Pin this post (Admins only)</a>
    </div>
</div>