<link href="/css/user.css" type="text/css" rel="stylesheet" />

<h3>{{user.username}}'s Account</h3>

<a href="/like_user/{{user._id}}">Like this user</a><p>{{this.user.likes}} people like this user</p>
<a href="/dislike_user/{{user._id}}">Dislike this user</a><p>{{this.user.dislikes}} people dislike this user</p>
